.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  height: 50px;
  border: 1px solid rgb(100, 94, 94);
  border-radius: 3px;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 17px;
  box-shadow: 0 4px 12px 0 rgb(0 23 46 / 5%);
}
@media (max-width: 600px) {
  .item {
    flex-direction: column;
    max-width: 300px;
    height: auto;
    padding: 20px 10px;
  }
}

.item:hover {
  box-shadow: 0 10px 16px 0 rgb(191 206 217 / 45%);
}

.deleteBtn {
  display: flex;
  align-items: center;
  max-width: 80px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgb(220, 235, 235);
  border: 1px solid black;
  min-height: 25px;
  font-size: 14px;
}

.deleteBtn:hover {
  background-color: coral;
  color: white;
}

@media (max-width: 600px) {
  .name {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .phone {
    margin-bottom: 10px;
  }
}
